<div class="jumbotron center">
  <h1>This is Pinterested! <br/></h1>
  <p>a new way to pin your interest!</p>
  <% if user_signed_in? %>
  <% else %>
  <%= link_to 'join', new_user_registration_path, class: 'btn btn-default'%>
  <%= link_to 'login', new_user_session_path, class: 'btn btn-primary'%>
  <% end %>
</div>