<div class="jumbotron">
  <h1>This is Pinterested! <small>a new way to pin your interest!</small></h1>
  <p>Just follow the white rabbit...</p>
  <%= link_to 'join', root_path, class: 'btn btn-default'%>
  <%= link_to 'login', root_path, class: 'btn btn-primary'%>
</div>